
.myTechStackComponent {
    color: white;
    margin-top: 5em;
}

.techStackTitle {
    color: white;
    margin-left: 20%;
    margin-bottom: 1em;
}

.icon{
    display: flex;
    justify-content: center;
}
#img-wrapper {
    display: grid;
    padding-top: 4em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 6em;
    place-items: center;
    margin: 0em 10em 8em 10em;
}

#img-wrapper > div {
    flex: 0 1 16%;
}

#img {
    width: 6em;
    height: 6em;
}



