.aboutMe{
    color: white;

}

.aboutMe h1{
    margin-left: 20%;
    margin-bottom: 1em;
    margin-top: 1.5em;
}

.aboutMe p{
    margin-left: 20%;
    width: 50em;
    font-size: 1.5em;
    margin-bottom: 4em;
}

.divider{
    height: 6px;
    border-radius: 10px;
    background: linear-gradient(270deg, rgb(57, 62, 65) 0%, rgb(89, 131, 129) 100%);
    padding-top: 1.5em;
}