
.AboutMe{
    background: #5c56ad;
}

.header{
    font-family: Courier New;
    font-size: 92px;
    color: white;
    -webkit-text-stroke: 2px black;
}
.body {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin: 10rem auto 0 auto;

}

.description {
    font-family: "Courier New";
    text-align: center;
    font-size: 24px;
    margin-left: 40px;
    color: white;
}

img.portfolioSelfie {
    background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg, slateblue, coral) border-box;
    border: 5px solid transparent;
    border-radius: 50px;

}

