
.AboutMe{

}

.header{
    font-family: Courier New;
    font-size: 92px;
    color: white;
    -webkit-text-stroke: 2px black;
}
.body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 2rem 2rem;
    padding: 1rem 1rem 1rem 1rem;
}

.description {
    font-family: "Courier New";
    text-align: left;
    font-size: 24px;
}

img.portfolioSelfie {
    background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg, slateblue, coral) border-box;

    border: 5px solid transparent;
    border-radius: 50px;
}

